/* 
Поправить ширину стрелок

Анимации наведения
    Корзина и лупа.
    services
    dot поменять. Нет анимации. 

realization
    screenshots!

ширина tlg
стрелки позишн
*/

/* Raleway Regular 400 */
@font-face{
    font-family: 'Raleway';
    src: url(/Waxom/fonts/Raleway/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

/* Raleway Medium 500 */
@font-face{
    font-family: 'Raleway';
    src: url(/Waxom/fonts/Raleway/Raleway-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

/* Raleway SemiBold 600 */
@font-face{
    font-family: 'Raleway';
    src: url(/Waxom/fonts/Raleway/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

/* Montserrat Light 300 */
@font-face{
    font-family: 'Montserrat';
    src: url(/Waxom/fonts/Montserrat/Montserrat-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

/* Montserrat Regular 400 */
@font-face{
    font-family: 'Montserrat';
    src: url(/Waxom/fonts/Montserrat/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

/* Roboto Regular 400 */
@font-face{
    font-family: 'Roboto';
    src: url(/Waxom/fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
*,
::before,
::after,
:active {
    transition: .3s;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0px calc(50% - 1275px / 2);
}

.header_top {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
}

.heading_text {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
    align-self: flex-end;
}

.header {
    background-image: url(img/slider_pic_1.png);
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_link {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-right: 25px;
}

.menu_link:hover {
    color: #C7B299;
}

.slider {
    text-align: center;
}

.slogan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider_arrow {
    width: 40px;
    height: 73px;
}

.slider_arrow_left {
    fill: #FFFFFF;
}

.slider_arrow_left:hover {
    fill: #D3C1AC;
}

.slider_arrow_right {
    rotate: 180deg;
    fill: #FFFFFF;
}

.slider_arrow_right:hover {
    fill: #D3C1AC;
}

h1 {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
}

h2 {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

    padding-top: 4px;
    padding-bottom: 40px;
}

.button {
    display: inline-block;
    padding: 18px 40px;
    background-color: #988574;
    border-radius: 3px;

    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.slider_bottom {
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    padding-bottom: 50px;
}

.bottom_dot {
    width: 15px;
    height: 15px;
    background-image: url(img/dot_1.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.bottom_dot:hover {
    width: 15px;
    height: 15px;
    background-image: url(img/dot_2.svg);
}

.services {
    padding-top: 90px;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
}

.services_icon {
    fill: #555555;
    padding-bottom: 30px;
}

.services_heading {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    padding-bottom: 20px;
}

.services_text {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding-bottom: 30px;
}

.services_block::after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}

.services_block:hover {
    fill: #C7B299;
}

.realization {
    height: 677px;
    background-color: #FBFAF8;
    display: flex;
    flex-direction: column;
}

.realization_heading {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
    padding-top: 80px;
    padding-bottom: 20px;
}

.realization_text {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    padding-bottom: 40px;
}

.realization_block {
    position: relative;
    height: 500px;
    top: -500px;
}
.realization_screen {
    position: absolute;
 
}
.realization_screen_center {
    z-index: 1;
    margin: 0 auto;
}
.realization_screen_left {
    top: 100px;
    left: 23px;
}
.realization_screen_left:hover{
    z-index: 1;
}
.realization_screen_right:hover{
    z-index: 1;
}
.realization_screen_right {
    top: 100px;
    left: 483px;
}
.purchase {
    height: 150px;
    background-image: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.purchase_textblock {
    width: 545px;
    height: 150px;
}

.purchase_heading {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #C7B299;
    padding-top: 44px;
}

.purchase_text {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #615855;
    padding-top: 6px;
}

.purchase_button {
    margin-top: 56px;
    align-self: flex-end;
}
.projects {
    height: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects_heading {
    font-family: Raleway,sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
    padding-top: 44px;
    padding-bottom: 9px;
}

.projects_text {
    max-width: 800px;
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    padding-bottom: 27px;
}

.projects_nav_buttons{
    padding: 7px 20px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    background-color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8C8C8C;
    margin-left: 10px;
}
.projects_nav_buttons_small {
    padding: 7px 25px;
}
.projects_nav_buttons:hover{
    color: #fff;
    background-color: #998575;
}

.projects_screen_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects_screen_img{
    display: block;
    padding-top: 70px;
}
.projects_screen_description {
    position: relative;
    background-color: #FBFAF8;
}
.projects_screen_description::before{
    position: absolute;
    left: 6px;
    top: -36px;
    content: ' ';
    width: 0px;
    border: 25px solid transparent;
    border-bottom: 20px solid #FBF9F7;
}
.projects_screen_heading {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #C7B299;
    padding: 20px 8px 8px 25px;
}

.projects_screen_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    padding-left: 25px;
    padding-bottom: 30px;
}
.projects_buttons{
    margin-top: 47px;
}